 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 941px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 56px 291px 0 46px;
}

.u-section-1 .u-btn-1 {
  --radius: 2px;
  margin: -84px 29px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 82px auto 0 46px;
}

.u-section-1 .u-text-3 {
  margin: 15px 279px 0 58px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px 279px 60px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 137px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}